*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/images/coin_stack.jpg);
}
nav{
    background: rgb(49, 112, 123);
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    position: relative;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: rgb(11, 25, 28);
    transition: .5s;
}
.content{
    text-align: center;
}
.heading{
    font-size: 60px;
}
.list{
    font-size: 30px;
}

.total{
    font-size: 50px;
}
.btn{
    text-align: right;
}