{% extends 'base.html' %}

{% block content %}

<h3 class="heading">Merchants</h3>

<p>
   <a class="btn btn--action" href="/merchants/new">Add Merchant</a>
</p>

<section class="list">
{% for merchant in merchants %}
   <li>
      <a href="/merchants/{{ merchant.id }}">{{ merchant.name }}</a> 
   
  <button>
     <a href="/merchants/{{ merchant.id }}/edit">Edit</a>
  </button>
   </li> 
   <p>
   <form action="/merchants/{{ merchant.id }}/delete" method="POST">
     <input class="btn btn--danger" type="submit" value="delete" />
   </form>
 </p>
{% endfor %}

</section>
{% endblock %}